body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
}

.sidebar {
  flex: 0 2 30%;
}

.products {
  flex: 1 6 70%;
}

.list {
  list-style: none;
  
}

.list li {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
}

.prods {
  list-style: none;
}

.prods li {
  text-align: center;
  border: 1px solid #add;
  margin: 2px;
}

